<!-- <p>dashboard works!</p> -->
<div class="wrapper">
    <div class="top_nav">
        <h3 style="text-align: center;">Main Project</h3>
    </div>
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link ">Home</a>
            </li>&nbsp;
            <li class="nav-item">
                <a class="nav-link ">Contact Us</a>
            </li>&nbsp;
            <li class="nav-item">
                <a class="nav-link ">About Us</a>
            </li>&nbsp;
            <li class="nav-item" >
                <a class="nav-link " (click)="log()" style="text-align: right;">Login</a>
            </li>&nbsp;

        </ul>
    </div>

</div>

<div>
    
</div>
<router-outlet></router-outlet>
