<body style="background-image: url(assets/img/ll.jpeg)">
  <div>
    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link " (click)="home()">Home</a>
        </li>&nbsp;
        <li class="nav-item">
            <a class="nav-link"(click)="contact()">Contact Us</a>
        </li>&nbsp;
        <li class="nav-item">
            <a class="nav-link"(click)="about()">About Us</a>
        </li>&nbsp;
        <li class="nav-item" style="text-align: right;" >
            <a class="nav-link " (click)="log()" >Login</a>
        </li>&nbsp;
    </ul>
    
</div>


 
<router-outlet></router-outlet>
</body>

<!-- <div class="wrapper"> -->
    <!-- <div class="top_nav">
        <h3 style="text-align: center;">Main Project</h3>
    </div> -->
    


 
<!-- <nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
    
    <h1 style="color: yellow;">Home Loan Managment</h1> 
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
       <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        &nbsp;&nbsp;
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
        </li>
        &nbsp;&nbsp;
        <li class="nav-item active">
          <a class="nav-link" routerLink="contact-us">contact-us</a>
        </li>
        &nbsp;&nbsp;
       <li class="nav-item active">
          <a class="nav-link" routerLink="about-us">About-us</a>
        </li>
        
          </ul>
      <form class="form-inline my-2 my-lg-0">
        <button style="background-color:green;color:white;" (click)="log()">Login</button> 
        
        </form>
    </div>
  </nav> -->

