
<div class="main-content">
    <p style="text-align: center;"><i><b>Customer Basic Details</b></i></p> 
    
    <table class="table table-striped table-dark">
        <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Mobile No.</th>
              <th scope="col">Status</th>
              <th scope="col">View Details</th>
              <th scope="col">Approved</th>
              <th scope="col">Reject</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of customerList">
                <td>{{c.customerId}} </td>
                <td>{{c.customerName}} </td>
                <td>{{c.customerEmail}} </td>
                <td>{{c.customerMobileNumber}} </td>
                <td>{{c.customerverification.status}} </td>
                <td>
                    <!-- <a class="btn" class="btn btn-info" [routerLink]="['student-details',s.id] ">Show-Details</a> -->
                    <button class="btn" class="btn btn-info" (click)="allDetail(c.customerId)" >Show-Details</button>
                </td>
                <td>
                    <button type="button" class="btn btn-success" (click)="approved(c)">Approved</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="reject(c)">Reject</button>
                </td>
            </tr>
          </tbody>
    </table>
</div>
