
<body>
    <fieldset>
    <h2 style="text-align:center">Login Form</h2>  
    
    <form>
        
      <div style="text-align:center">
        <label for="uname"><b>Username :-</b></label>
        &nbsp; <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="u.username" required> <br>
    
        <label for="psw"><b>Password :-</b></label>
        &nbsp; <input type="password" placeholder="Enter Password" name="psw"  [(ngModel)]="u.password" required> <br>
            
        <button  (click)="login(u)">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
      <br>
       <!--<div class="container" style="background-color:white">
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div> -->
    </form>
    </fieldset>
 </body>
<router-outlet></router-outlet>